NOTEELI_CONTENT_ROOT=/Users/twoj-user/notatki
NOTEELI_DATA_DIR=/Users/twoj-user/.noteeli
NOTEELI_SESSION_SECRET=zmien-ten-sekret-przed-wdrozeniem
NOTEELI_GOOGLE_CLIENT_ID=
NOTEELI_GOOGLE_CLIENT_SECRET=
